<div>
    <label for="chat-name">Chat name: </label>
    <input id="chat-name" [(ngModel)]="name" placeholder="name">
    <button (click)="createChat()">Create chat!</button>
</div>
<div *ngIf="chats">
    <ul class="chats">
        <li *ngFor="let chat of chats" (click)="onSelect(chat)"
        [class.selected]="selectedChat && chat.id === selectedChat.id">{{chat.name}}</li>
    </ul>
    <app-chat *ngIf="selectedChat" [chat]="selectedChat"></app-chat>
    <app-messages *ngIf="selectedChat" [chatId]="selectedChat.id" [channel]="selectedChat.guid"></app-messages>
</div>